<%- include('header') %>

<main class= "vote-page"> 

  <!-- tab section -->
  <% for(var k=0; k < parties.length; k++) { %> 
    <% var myArray =JSON.stringify(parties[k]);%>
    <button
      class="tablink"
      onclick="openTab(event,'<%=parties[k][0].party%>',this)"
      
    >
      <%=parties[k][0].party%>
    </button>
  <% } %>

  <!-- content -->

  <% const partyImgURl = {"Democratic Party":"https://img.freepik.com/free-vector/silhouette-people-demonstration_23-2147997865.jpg?w=740&t=st=1686035927~exp=1686036527~hmac=db9f238bf03d7e3bcf6e078503820eae085d48255133e0e314a2d22aed4f0454",
                          "Republican Party":"https://img.freepik.com/premium-vector/man-holding-flag-front-large-crowd-people-illustration_3890-407.jpg?w=740",
                          "Labour Party":"https://img.freepik.com/premium-vector/man-making-speech-audience-with-signboard-silhouette_18591-49042.jpg?w=740",
                          "Liberal Party":"https://img.freepik.com/premium-vector/silhouette-people-crowd-protesters-holding-protest-posters-men-women-with-blank-vote-placards-demonstration-speech-political-freedom-concept-horizontal-portrait_48369-23686.jpg?w=996" }  %>
  
  <% for(var i=0; i < parties.length; i++) { %>
    <div class="tabcontent" id="<%=parties[i][0].party%>">
      <form id="voting_form" action="/vote" method="post" autocomplete="off">
        <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-1">
          <% for(var j=0; j < parties[i].length; j++) { %>
            <div class="col">
              <label for="<%=parties[i][j]._id%>">
              <div id="<%=parties[i][j].name%>" class="card card-custom border-white border-1">
                <div class="card-custom-img" style="background-image: url(<%=partyImgURl[parties[i][0].party]%>);"></div>
                <div class="card-custom-avatar">
                  <% if (parties[i][j].gender === "Male"){ %>
                    <img class="img-fluid" src="https://www.caiml.co.uk/wp-content/uploads/2016/03/270x270-male-avatar.png" alt="Avatar" />
                  <% }else{%>
                    <img class="img-fluid" src="https://www.caiml.co.uk/wp-content/uploads/2016/03/270x270-female-avatar.png" alt="Avatar" />
                  <% } %>
                </div>
                <h3 class="name card-title"><%=parties[i][j].name%></h3>
                <p class="number"><%=parties[i][j].voting_number%></p>
                <div class="card-body" style="overflow-y: auto">
                  <p class="qualifications card-text"><%=parties[i][j].qualifications%></p>
                </div>
                <div class="checkbox-wrapper-62 card-footer">
                  <input type="checkbox" class="check" id="<%=parties[i][j]._id%>" name="myCheckbox" value="<%=parties[i][j].party%>|<%=parties[i][j].name%>|<%=parties[i][j].voting_number%>" />
                  <label for="<%=parties[i][j]._id%>" class="label">
                    <svg width="43" height="43" viewbox="0 0 90 90">
                      <rect x="30" y="20" width="50" height="50" stroke="black" fill="none" />
                      <g transform="translate(0,-952.36218)">
                        <path d="m 13,983 c 33,6 40,26 55,48 " stroke="black" stroke-width="3" class="path1" fill="none" />
                        <path d="M 75,970 C 51,981 34,1014 25,1031 " stroke="black" stroke-width="3" class="path1" fill="none" />
                      </g>
                    </svg>
                  </label>
                </div>
              </div>
            </label>
            </div>
          <% } %>
        </div>
        <button type="submit">CONFIRM</button>
      </form>
    </div>
  <% } %>
  
</main>


<%- include('footer') %>
