<%- include('header') %>

<main>

  
    <div class="tab">

      <% for(var k=0; k < parties.length; k++) { %>
        <% var myArray = JSON.stringify(parties[k]); %>
        <button class="tablinks" onclick="openTab(event,'<%= myArray %>')"><%=parties[k][0].party%></button>
       
     <% } %>
      
    </div>

       
    <% for(var i=0; i < parties.length; i++) { %>
      <% for(var j=0; j < parties[i].length; j++) { %>
      <div id="<%=parties[i][j].name%>" class="tabcontent candidate-info">
        <h3 class="name"> <%=parties[i][j].name%></h3>
        <p class="qualifications"> <%=parties[i][j].qualifications%> </p>
        <p class="number"><%=parties[i][j].voting_number%></p>
      </div>
      <% } %>
    <% } %>
      


      
</main>

<%- include('footer') %>