<%- include('header') %>

<main>
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'London')"><%=candidates[0].Name%></button>
        <button class="tablinks" onclick="openCity(event, 'Paris')"><%=candidates[1].Party%></button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')"><%=candidates[2].Party%></button>
      </div>
      
      <div id="London" class="tabcontent">
        <h3><%=candidates[0].Party%></h3>
        <p> <%=candidates[0].qualification%></p>
      </div>
      
      <div id="Paris" class="tabcontent">
        <h3>Paris</h3>
        <p>Paris is the capital of France..</p>
      </div>
      
      <div id="Tokyo" class="tabcontent">
        <h3>Tokyo</h3>
        <p>Tokyo is the capital of Japan.</p>
      </div>
      
</main>

<%- include('footer') %>